.articlesfeed div > a > .articlesfeed-image {
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.articlesfeed div a:hover {
  text-decoration: underline;
}

.articlesfeed div > a > div {
  margin: 0px;
}

.articlesfeed .articlesfeed-title {
  color: white;
  height: 220px;
}

.articlesfeed a {
  color: white;
}

.articlesfeed a:hover {
  color: white;
  text-decoration: underline;
}

.articlesfeed .articlesfeed-title:hover {
  text-decoration: underline;
}

.articlesfeed-title .head-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articlesfeed .articlesfeed-title .sub-title {
  padding-left: 15px;
  padding-right: 15px;
}

.articlesfeed .articleslist {
  margin-top: 10px;
  font-size: 0.9rem;
}

.articlesfeed a.article-link > span {
  color: #010050;
}

.articlesfeed a.article-link > span:hover{
  color: #010050;
  text-decoration: underline;
}

.articlesfeed .icon {
  color: #74a1cd;
  margin-left: 5px;
}

.articlesfeed .icons:hover {
  text-decoration: none;
}


/* ==== GRID SYSTEM ==== */

.custom-row {
  width: 100%;
}

.custom-row [class^="col"] {
  float: left;
}

.custom-col-1,
.custom-col-2,
.custom-col-3,
.custom-col-4,
.custom-col-5,
.custom-col-6,
.custom-col-7,
.custom-col-8,
.custom-col-9,
.custom-col-10,
.custom-col-11,
.custom-col-12 {
  width: 96%;
}

.custom-col-1-sm {
  width: 4.33%;
}

.custom-col-2-sm {
  width: 12.66%;
}

.custom-col-3-sm {
  width: 21%;
}

.custom-col-4-sm {
  width: 29.33%;
}

.custom-col-5-sm {
  width: 37.66%;
}

.custom-col-6-sm {
  width: 46%;
}

.custom-col-7-sm {
  width: 54.33%;
}

.custom-col-8-sm {
  width: 62.66%;
}

.custom-col-9-sm {
  width: 71%;
}

.custom-col-10-sm {
  width: 79.33%;
}

.custom-col-11-sm {
  width: 87.66%;
}

.custom-col-12-sm {
  width: 96%;
}

.custom-row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 45em) {  /* 720px */
  .custom-col-1 {
    width: 4.33%;
  }

  .custom-col-2 {
    width: 12.66%;
  }

  .custom-col-3 {
    width: 21%;
  }

  .custom-col-4 {
    width: 29.33%;
  }

  .custom-col-5 {
    width: 37.66%;
  }

  .custom-col-6 {
    width: 46%;
  }

  .custom-col-7 {
    width: 54.33%;
  }

  .custom-col-8 {
    width: 62.66%;
  }

  .custom-col-9 {
    width: 71%;
  }

  .custom-col-10 {
    width: 79.33%;
  }

  .custom-col-11 {
    width: 87.66%;
  }

  .custom-col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}
