.articlesfeed div > a > .articlesfeed-image {
  height: 220px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.articlesfeed div a:hover {
  text-decoration: underline;
}

.articlesfeed div > a > div {
  margin: 0px;
}

.articlesfeed .secondary-image {
  display: inline-block;
  position: relative;
  width:  80px;
  height: 50px;
  top: 20px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}

.articlesfeed .articlesfeed-title {
  height: 220px;
  overflow: hidden;
}

.articlesfeed a:hover {
  text-decoration: underline;
}

.articlesfeed .articlesfeed-title:hover {
  text-decoration: underline;
}

.articlesfeed-title .head-title {
  font-size: 1.5rem;
  line-height: 1.5rem;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.articlesfeed .articlesfeed-title .sub-title {
  padding-left: 10px;
  padding-right: 10px;
}

.articlesfeed .articleslist {
  padding: 10px 5px;
  font-size: 0.9rem;
}

.articlesfeed a.article-link > span {
  color: #010050;
}

.articlesfeed a.article-link > span:hover{
  color: #010050;
  text-decoration: underline;
}

.articlesfeed .icon {
  margin-left: 5px;
}

.articlesfeed .icons .icon {
  color: #74a1cd;
  margin-left: 5px;
}

.articlesfeed .icons:hover {
  text-decoration: none;
}


.articlesfeed .titlebar {
  font-weight: 700;
  color: white;
  padding: 5px 10px;
  margin-bottom: 10px;
}

.articlesfeed > div a:hover {
  color: white;
}

.articlesfeed .light {
  color: #010050 !important;
}

.articlesfeed .dark {
  color: white !important;
}

/* ==== GRID SYSTEM ==== */

.custom-row {
  width: 100%;
}

.custom-row [class^="custom-col"] {
  float: left;
}

.custom-col-1,
.custom-col-2,
.custom-col-3,
.custom-col-4,
.custom-col-5,
.custom-col-6,
.custom-col-7,
.custom-col-8,
.custom-col-9,
.custom-col-10,
.custom-col-11,
.custom-col-12 {
  width: 100%;
}

.custom-col-1-sm {
  width: 8.3333333333%;
}

.custom-col-2-sm {
  width: 16.6666666667%;
}

.custom-col-3-sm {
  width: 25%;
}

.custom-col-4-sm {
  width: 33.3333333333%;
}

.custom-col-5-sm {
  width: 41.6666666667%;
}

.custom-col-6-sm {
  width: 50%;
}

.custom-col-7-sm {
  width: 58.3333333333%;
}

.custom-col-8-sm {
  width: 66.6666666666%;
}

.custom-col-9-sm {
  width: 75%;
}

.custom-col-10-sm {
  width: 83.3333333333%;
}

.custom-col-11-sm {
  width: 91.6666666667%;
}

.custom-col-12-sm {
  width: 100%;
}

.custom-row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 45em) {  /* 720px */
  .custom-col-1 {
    width: 8.3333333333%;
  }

  .custom-col-2 {
    width: 16.6666666667%;
  }

  .custom-col-3 {
    width: 25%;
  }

  .custom-col-4 {
    width: 33.3333333333%;
  }

  .custom-col-5 {
    width: 41.6666666667%;
  }

  .custom-col-6 {
    width: 50%;
  }

  .custom-col-7 {
    width: 58.3333333333%;
  }

  .custom-col-8 {
    width: 66.6666666666%;
  }

  .custom-col-9 {
    width: 75%;
  }

  .custom-col-10 {
    width: 83.3333333333%;
  }

  .custom-col-11 {
    width: 91.6666666667%;
  }

  .custom-col-12 {
    width: 100%;
  }

  .hidden-sm {
    display: block;
  }
}
